:root {
  --blue: #344b6b;
  --offwhite: #e1decf;
  --pink: #ec8a81;
  --black: #262626;
  --violet: #8a7f9e;
  --green: #489132;
  --yellow: #e0ca3c;
}

* {
  font-family: Karla;
}

.text-gray {
  color: darkslategray;
}
.headline {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--green);
  letter-spacing: 0.1rem;
}
.menu-line {
  border-top: 1px solid darkslategray;
  border-bottom: 2px solid darkslategray;
  margin: 0.5rem 10% 0 10%;
}
.navlink {
  color: darkslategrey;
  text-decoration: none;
  display: block;
}
.navlink:hover {
  font-weight: bold;
}
.mail-container {
  border: 4px solid white;
  outline: 4px solid var(--violet);
  background-color: var(--offwhite);
  margin: 2rem auto;
  width: 75%;
}
.center {
  text-align: center;
  justify-content: center;
}
.info {
  width: 85%;
  margin: auto;
  line-height: 1.5;
}
.info::first-letter {
  font-size: 2.5rem;
}
.bg-violet {
  background-color: rgb(236, 236, 231);
}
.bg-blue {
  background-color: var(--blue);
}
.shadow {
  box-shadow: 2px 2px 5px var(--blue);
}
.text-white {
  color: white;
}
.margin-10 {
  margin: 10px;
}
.padding-1 {
  padding: 0.7rem;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-stretch {
  align-items: stretch;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-item-small {
  flex: 1 1 20%;
}
.flex-item-med {
  flex: 1 1 50%;
  min-width: 250px;
  align-items: center;
}
.flex-item-large {
  flex: 1 1 80%;
}
.flex-item-box {
  flex: 0 1 10rem;
  height: 23rem;
  border: 5px solid white;
}

@media screen and (max-width: 800px) {
  .flex-container {
    flex-wrap: wrap;
  }
}
.min-100vh {
  min-height: 100vh;
}
.flower-photo {
  border-radius: 50%;
}
.info-box {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.info-line {
  min-height: 1.5rem;
  display: flex;
}
.char-title {
  font-weight: bold;
  flex-basis: 40%;
}

button {
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--blue);
  color: white;
}

button:hover {
  background-color: var(--violet);
  cursor: pointer;
}

input {
  height: 1.5rem;
  min-width: 10rem;
}

img {
  display: block;
  width: 100%;
}

nav {
  position: relative;
  z-index: 10;
}
